@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #93C6E7;
}

.wrapper{
    background: #fff;
    width: 400px;
    border-radius: 5px;
}

.wrapper header{
    color: #93C6E7;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
}

header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}

.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}

.wrapper .input-section{
    margin: 20px 25px 30px;
}

.wrapper.active .input-section{
    display: none;
}

.input-section .information{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.information.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.information.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}

.input-section input{
    width: 100%;
    height: 55px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 18px;
}

.input-section input:is(:focus , :valid){
    border: 2px solid #93C6E7;
}

.input-section .divider{
    height: 1px;
    width: 100%;
    background: #bfbfbf;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider::before{
    content: 'or';
    background: #fff;
    padding: 0 15px;
    font-size: 20px;
    color: #bfbfbf;
}

.input-section button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #93C6E7;
    cursor: pointer;
}

.wrapper .weather-section{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-section{
    display: flex;
}

.weather-section img{
    max-width: 125px;
}

.weather-section .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}

.weather-section .temp .numb{
    font-weight: 600;
}

.weather-section .temp .numb .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}

.weather-section .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-section .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}

.location i{
    font-size: 22px;
    margin-right: 5px;
}

.weather-section .bottom-details{
    border-top: 1px solid #bfbfbf;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-details .column{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.column i {
    color: #93C6E7;
    font-size: 40px;
}

.column.humidity{
    border-left: 1px solid #bfbfbf;
}

.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg{
    margin: 0;
    font-size: 17px;
    pad: 0 2px 0 1px;
}

.details p {
    font-size: 14px;
    margin-top: -6px;
}